body {
    margin          : 2rem;
    border          : 1px solid rgb(209, 127, 127);
    padding         : 1rem;
    background-color: beige;
}

body>h1 {
    font-size    : 2rem;
    margin-bottom: 1rem;
}

body>img {
    width : 100%;
    border: 2px groove greenyellow;
}